@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#testimonials{
    min-height: 100vh; 
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 32px 8%;
}

#testimonials_header {
    text-align: center;
}

#testimonials_header h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #155a3d;
    margin-bottom: 20px;
}

#testimonials_header h2{
    color: #1a7272;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

#testimonials_header p{
    color: #637381;
    font-size: 1rem;
    max-width: 685px;
    
}

.swiper{
    width: 100%;
    height: 390px;
    padding-bottom: 60px;
}
.swiper-slide{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    box-shadow: 0 0 20px 0 #25442c3b;
    padding: 38px;
    border-radius: 12px;
}

.testimonial-rate{
    display: flex;
    gap: 2px;
}

.testimonial-rate i{
    color: #F9B707;
}

.testimonial-quote{
    display: flex;
    align-items: center;
    gap: 18px;
    text-indent: 10px;
}

.testimonial-author{
    display: flex;
    align-items: center;
    gap: 18px;
}

.author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.author-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-info h3{
    font-weight: 600;
    font-size: .875rem;
    color: #111928;
}

.author-info p{
    font-size: .75rem;
    color: #265243;
}
.swiper-button-prev,
.swiper-button-next{
    background-color:#FFF;
    width: 28px;
    height: 28px;
    color: #265243;
    border: 1px solid #F9FAFB;
    border-radius: 100%;
    box-shadow: 0 0 20px 0 hsla(134, 30%, 21%, 0.2);
}

.swiper-button-prev::after{
    content: '\f053';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 15px;
}

.swiper-button-next::after{
    content: '\f054';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 15px;
}

.swiper-button-prev{
    left: -4px;
}

.swiper-button-next{
    right: -3px;
}
